aligned_reads/alignment_metrics.txt
aligned_reads/dfasd
aligned_reads/insert_size_histogram.pdf
aligned_reads/insert_size_metrics.txt
aligned_reads/multiqc_report.html
aligned_reads/SRR062634_sorted_dedup_bqsr_reads.bai
aligned_reads/SRR062634_sorted_dedup_bqsr_reads.bam
aligned_reads/SRR062634_sorted_dedup_reads.bam
aligned_reads/SRR062634_sorted_dedup_reads.bam.bai
aligned_reads/SRR062634_sorted_dedup_reads.bam.sbi
aligned_reads/SRR062634.paired.sam
aligned_reads/multiqc_data/multiqc_citations.txt
aligned_reads/multiqc_data/multiqc_data.json
aligned_reads/multiqc_data/multiqc_general_stats.txt
aligned_reads/multiqc_data/multiqc_picard_AlignmentSummaryMetrics.txt
aligned_reads/multiqc_data/multiqc_picard_insertSize.txt
aligned_reads/multiqc_data/multiqc_sources.txt
aligned_reads/multiqc_data/multiqc.log
aligned_reads/multiqc_data/picard_histogram_1.txt
aligned_reads/multiqc_data/picard_histogram_2.txt
aligned_reads/multiqc_data/picard_histogram.txt
data/recal_data.table
ref_files/hg38/hg38.dict
ref_files/hg38/hg38.fa
ref_files/hg38/hg38.fa.amb
ref_files/hg38/hg38.fa.ann
ref_files/hg38/hg38.fa.bwt
ref_files/hg38/hg38.fa.fai
ref_files/hg38/hg38.fa.pac
ref_files/hg38/hg38.fa.sa
ref_files/hg38/Homo_sapiens_assembly38.dbsnp138.vcf
ref_files/hg38/Homo_sapiens_assembly38.dbsnp138.vcf.idx
results/analysis-ready-indels-filteredGT-funcotated.vcf
results/analysis-ready-indels-filteredGT-funcotated.vcf.idx
results/analysis-ready-indels-filteredGT.vcf
results/analysis-ready-indels.vcf
results/analysis-ready-indels.vcf.idx
results/analysis-ready-snps-filteredGT-funcotated.vcf
results/analysis-ready-snps-filteredGT-funcotated.vcf.idx
results/analysis-ready-snps-filteredGT.vcf
results/analysis-ready-snps.vcf
results/analysis-ready-snps.vcf.idx
results/filtered_indels.vcf
results/filtered_indels.vcf.idx
results/filtered_snps.vcf
results/filtered_snps.vcf.idx
results/output_snps.table
results/raw_indels.vcf
results/raw_indels.vcf.idx
results/raw_snps.vcf
results/raw_snps.vcf.idx
results/raw_variants.vcf
results/raw_variants.vcf.idx
scripts/funcotator_dataSources.v1.7.20200521g.tar.gz
scripts/funcotator_dataSources.v1.7.20200521g/gnomAD_exome.tar.gz
scripts/funcotator_dataSources.v1.7.20200521g/gnomAD_genome.tar.gz
scripts/funcotator_dataSources.v1.7.20200521g/MANIFEST.txt
scripts/funcotator_dataSources.v1.7.20200521g/README.txt
scripts/funcotator_dataSources.v1.7.20200521g/template.config
scripts/funcotator_dataSources.v1.7.20200521g/acmg_lof/hg19/acmg_lof.config
scripts/funcotator_dataSources.v1.7.20200521g/acmg_lof/hg19/acmg_lof.tsv
scripts/funcotator_dataSources.v1.7.20200521g/acmg_lof/hg38/acmg_lof.config
scripts/funcotator_dataSources.v1.7.20200521g/acmg_lof/hg38/acmg_lof.tsv
scripts/funcotator_dataSources.v1.7.20200521g/acmg_rec/hg19/acmg_rec.config
scripts/funcotator_dataSources.v1.7.20200521g/acmg_rec/hg19/acmg59_test_cleaned.txt
scripts/funcotator_dataSources.v1.7.20200521g/acmg_rec/hg38/acmg_rec.config
scripts/funcotator_dataSources.v1.7.20200521g/acmg_rec/hg38/acmg59_test_cleaned.txt
scripts/funcotator_dataSources.v1.7.20200521g/clinvar/hg19/clinvar_20180401.vcf
scripts/funcotator_dataSources.v1.7.20200521g/clinvar/hg19/clinvar_20180401.vcf.idx
scripts/funcotator_dataSources.v1.7.20200521g/clinvar/hg19/clinvar_vcf.config
scripts/funcotator_dataSources.v1.7.20200521g/clinvar/hg38/clinvar_20180429_hg38.vcf
scripts/funcotator_dataSources.v1.7.20200521g/clinvar/hg38/clinvar_20180429_hg38.vcf.idx
scripts/funcotator_dataSources.v1.7.20200521g/clinvar/hg38/clinvar_vcf.config
scripts/funcotator_dataSources.v1.7.20200521g/gencode/hg19/gencode.config
scripts/funcotator_dataSources.v1.7.20200521g/gencode/hg19/gencode.v34lift37.annotation.REORDERED.gtf
scripts/funcotator_dataSources.v1.7.20200521g/gencode/hg19/gencode.v34lift37.annotation.REORDERED.gtf.idx
scripts/funcotator_dataSources.v1.7.20200521g/gencode/hg19/gencode.v34lift37.pc_transcripts.dict
scripts/funcotator_dataSources.v1.7.20200521g/gencode/hg19/gencode.v34lift37.pc_transcripts.fa
scripts/funcotator_dataSources.v1.7.20200521g/gencode/hg19/gencode.v34lift37.pc_transcripts.fa.fai
scripts/funcotator_dataSources.v1.7.20200521g/gencode/hg38/gencode.config
scripts/funcotator_dataSources.v1.7.20200521g/gencode/hg38/gencode.v34.annotation.REORDERED.gtf
scripts/funcotator_dataSources.v1.7.20200521g/gencode/hg38/gencode.v34.annotation.REORDERED.gtf.idx
scripts/funcotator_dataSources.v1.7.20200521g/gencode/hg38/gencode.v34.pc_transcripts.dict
scripts/funcotator_dataSources.v1.7.20200521g/gencode/hg38/gencode.v34.pc_transcripts.fa
scripts/funcotator_dataSources.v1.7.20200521g/gencode/hg38/gencode.v34.pc_transcripts.fa.fai
scripts/funcotator_dataSources.v1.7.20200521g/gnomAD_exome/hg19/gnomAD_exome.config
scripts/funcotator_dataSources.v1.7.20200521g/gnomAD_exome/hg38/gnomAD_exome.config
scripts/funcotator_dataSources.v1.7.20200521g/gnomAD_genome/hg19/gnomAD_genome.config
scripts/funcotator_dataSources.v1.7.20200521g/gnomAD_genome/hg38/gnomAD_genome.config
scripts/funcotator_dataSources.v1.7.20200521g/lmm_known/hg19/lmm_known.config
scripts/funcotator_dataSources.v1.7.20200521g/lmm_known/hg19/LMM_Path_LP_VUS5-variants-6-12-18.sorted.vcf
scripts/funcotator_dataSources.v1.7.20200521g/lmm_known/hg19/LMM_Path_LP_VUS5-variants-6-12-18.sorted.vcf.idx
scripts/funcotator_dataSources.v1.7.20200521g/lmm_known/hg38/lmm_known.config
scripts/funcotator_dataSources.v1.7.20200521g/lmm_known/hg38/LMM_Path_LP_VUS5-variants-6-12-18.sorted_liftover_b38.corrected.vcf
scripts/funcotator_dataSources.v1.7.20200521g/lmm_known/hg38/LMM_Path_LP_VUS5-variants-6-12-18.sorted_liftover_b38.corrected.vcf.idx
scripts/funcotator_dataSources.v1.7.20200521g/lmm_known/hg38/LMM_Path_LP_VUS5-variants-6-12-18.sorted_liftover_b38.vcf
